<br>

<h1> List Of Patients </h1>

<hr>



<div class = "form-group my-group">
    <input type = "text" class = "form-control search-field" placeholder="Search by Id or Name"
    [(ngModel)]="searchText">

</div>
    <table  class="table table-striped table-light table-hover table-borderless" >
      
        <thead>
            <tr style ="color: black;">
                <th ><a (click) = "onClickId()"> ID </a>   </th>
                <th><a (click) = "onClickName()"> Name </a>   </th>
                <th> Age</th>
                <th> Gender</th>
                <th> Department</th> 
                <th> Doctor Name</th>
                <th> Doctor Fee</th>
                <th> Registration Date</th>
                <th> Created By</th>
                <th> Edit/Delete</th>
            </tr>
        </thead>
    
        <tbody>
          
            <ng-container *ngFor="let patient of patients | SearchFilter : searchText " >
               
              <ng-container *ngIf="patients != null">
                <tr >
                    <td> {{patient.patientId}}</td>
                    <td> {{patient.patientName}}</td>
                    <td> {{patient.patientAge}}</td>
                    <td> {{patient.patientGender}} </td>
                    <td> {{patient.department}}</td>
                    <td> {{patient.doctorName}}</td>
                    <td> {{patient.doctorFee}}</td>
                    <td> {{patient.registerDate.substring(0,10)}}</td>
                    <td> {{patient.createdBy}}</td>

                    <td>
                        <div class ="my-icosn">
                            <a class="edit" title="Edit" data-toggle="tooltip" (click)="onClickEdit(patient.patientId)" ><i style="color: blue;" class="material-icons">&#xE254;</i></a>
                            <!-- Button trigger modal -->
<a   data-bs-toggle="modal" data-bs-target="#exampleModal22">
    <i style="color: red;" class="material-icons">&#xE872;</i>
</a>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal22" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" >

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal22" style = "color: red;">Delete</h5>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

            <div class="modal-body" >    
            <h5 style = "color: red;">Are you sure you want to delete?</h5>
            <small> This can't be undone.</small>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click) = (onClickDelete(patient.patientId))>Yes</button>
            </div>
      </div>
    </div>
  </div>
  

                        </div>
                    </td>
                </tr>
                
            </ng-container>

          </ng-container>

        </tbody>
    </table>

 
<div style="display: flex;align-items: center;justify-content: center;">
  
  <ng-container *ngIf="!patientsCount">
    <img src="https://i.pinimg.com/originals/49/e5/8d/49e58d5922019b8ec4642a2e2b9291c2.png" width="400px" height="300px">
  </ng-container>
</div>
    



