
  <form #registerFormTemplate="ngForm" (ngSubmit)="register()">
    <div class="mb-3">
      <label for="userName" class="form-label">UserName</label>
      <input type="text" class="form-control" name="userName" id="userName" [(ngModel)]="registerDetails.userName" #username="ngModel" required >
      <p *ngIf="username.invalid && username.touched" class="alert alert-danger">UserName is Mandatory</p>

    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="registerDetails.email" #email="ngModel" required >
        <p *ngIf="email.invalid && email.touched" class="alert alert-danger">UserName is Mandatory</p>
  
      </div>
      
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="registerDetails.password" #password="ngModel" required >
      <p *ngIf="password.invalid && password.touched" class="alert alert-danger">Password is Mandatory</p>
      
    </div>
    
    <button [disabled]="registerFormTemplate.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
